
Classes/__history/*
Classes/__history/*.*
Helpers/__history/*
Helpers/__history/*.*
__history/*
__history/*.*
Win32/*
Win32/*.*
__recovery/*
__recovery/*.*
Stc.MigrationAnalysisTool.identcache
*.local
/*.identcache
/Output/*.exe
/Output/ParserDatabase.db
Output/Settings/GridSettings.ini
Output/Database/ParserDatabase.db
Output/Database/ParserDatabase.db
Output/Settings/GridSettings.ini
